h1 {
    color: gold  
}

.nav-link {
    color:gold

}


.nav-link:hover {
    color: white;
}


body {
    background-image: url("darkflower.jpg");
    
}

.lead {
    color: white;
    text-align: right
}

#reccaps {
    color: gold;
    font-family :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


